body {
    background-color: #f0d1c9;
}
.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

form {
    display: flex;
    flex-direction: column;
    /*max-width: 50%;*/
    align-items: center;
    width: 300px;
    height: 130px;
    border: 1px solid black;
    background-color: #f3b2a4;
    box-shadow: 6px 6px;

}

section {
    display: flex;
    flex-direction: column;
}

textarea {
    border: 0.5px solid grey;
    background-color: #f0d1c9
}

.form-btn {
    border: 2px solid #bf2705; /***Take away later***/
    border-radius: 13px;
    background-color: #bf2705;
    margin: 10px 0;
    color: white;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border: 1px solid black;
    width: 300px;
    height: 130px;
    margin: 10px;
    box-shadow: 6px 6px;
    text-align: center;
    background-color: #f3b2a4;
}

.message {
    margin: 20px 15px 0;
}

.heart-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    justify-content: flex-start;
    align-content: flex-end;
    width: fit-content;
    height: fit-content;
}

.heart-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
    background-color: #bf2705;
    font-size: 15px;
}

span {
    font-size: 13px;
    text-indent: 5px;
}